
/.quarto/
/_site/
/_docs/
/docs/
LOGGING*
Untitled
Untitled*
.obsidian/plugins/recent-files-obsidian/main.js
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/workspaces.json
.obsidian/workspace-mobile.json
